body {
  background-color: lightcyan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.actor-card {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  background-color: rgb(216, 215, 215);
 
}

.actors-list{
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

li img {
  height: 150px; 
}

